WORDPRESS_APPLICATION_USER="username"
WORDPRESS_APPLICATION_PASS="application password"
WORDPRESS_DOMAIN="somedomain.com"

PGVECTOR_HOST="localhost"
PGVECTOR_USER="postgres"
PGVECTOR_PASSWORD="postgres"
PGVECTOR_DATABASE="blogvector"